/WpfApp1/.vs
/WpfApp1/WpfApp1/bin/Debug
/WpfApp1/WpfApp1/obj/Debug
/TradeFlowers/.vs/TradeFlowers/v15
/TradeFlowers/bin/Debug
/TradeFlowers/obj/Debug
/TradeFlowersMUI/TradeFlowers/.vs/TradeFlowers/v15
/TradeFlowersMUI/TradeFlowers/obj
/TradeFlowersEntity/TradeFlowers/obj
