/WpfApp1/.vs
/WpfApp1/WpfApp1/bin/Debug
/WpfApp1/WpfApp1/obj/Debug
/TradeFlowers/.vs/TradeFlowers/v15
/TradeFlowers/bin/Debug
/TradeFlowers/obj/Debug
/TradeFlowersMUI/TradeFlowers/.vs/TradeFlowers/v15
/TradeFlowersMUI/TradeFlowers/obj
/TradeFlowersEntity/TradeFlowers/obj
/TradeFlowersEntity/TradeFlowers/.gitignore
/TradeFlowersEntity/TradeFlowers/.vs/TradeFlowers/v15/.suo
/TradeFlowersEntity/TradeFlowers/.vs/TradeFlowers/v15/Server/sqlite3/db.lock
/TradeFlowersEntity/TradeFlowers/.vs/TradeFlowers/v15/Server/sqlite3/storage.ide
/TradeFlowersEntity/TradeFlowers/.vs/TradeFlowers/v15/Server/sqlite3/storage.ide-shm
/TradeFlowersEntity/TradeFlowers/.vs/TradeFlowers/v15/Server/sqlite3/storage.ide-wal
