<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
	 <connectionStrings>
    <add name="DefaultConnection"
       connectionString="Server=pgsql.uniflora.mass.hc.ru;Port=5432;User=uniflora_trade;Password=Kkd37Ckqfm;Database=wwwunifloragroup_trade;"
      providerName="Npgsql"/>
  </connectionStrings>
</configuration>